.btn {
  display: block;
  width: 100%;
  font-size: 1.7rem;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px auto;
  padding: 10px;

  line-height: 1;
  border: 0;
  outline: none;
  cursor: pointer;
}
