.header {
  margin: -10px;
  padding: 0px 25px;
  z-index: 10;

  .logo {
    font-size: 1.2rem;
  }

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 8px 6px -6px #999;

    .links {
      display: flex;

      .nav-links {
        display: flex;
        min-width: 200px;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
.auth-links {
  display: flex;
  gap: 10px;
}
